{% extends "mainpage.html" %}

{% block content_body %}
<div class="row-container" style="display: flex; width: 100%; height: 100%; flex-direction: column;">
    <iframe style="height:500px; width:100%" id ="resaleBarGraphFrame" scrolling="yes" allowfullscreen="yes" frameborder="0"></iframe>
</div>

<hr>

<div class="row-container" style="display: flex; width: 100%; height: 100%; flex-direction: column;">
    <iframe style="height:500px; width:100%" id ="resaleAvgGraphFrame" scrolling="yes" allowfullscreen="yes" frameborder="0"></iframe>
</div>

<hr>

<div class="row-container" style="display: flex; width: 100%; height: 100%; flex-direction: column;">
    <iframe style="height:500px; width:100%" id ="townAndFlatGraphFrame" scrolling="yes" allowfullscreen="yes" frameborder="0"></iframe>
</div>

<hr>

<div class="row-container" style="display: flex; width: 100%; height: 100%; flex-direction: column;">
    <iframe style="height:500px; width:100%" id ="transactionGraphFrame" scrolling="yes" allowfullscreen="yes" frameborder="0"></iframe>
</div>

<hr>

<div class="row-container" style="display: flex; width: 100%; height: 100%; flex-direction: column;">
    <iframe style="height:500px; width:100%" id ="mapGraphFrame" scrolling="yes" allowfullscreen="yes" frameborder="0"></iframe>
</div>

<hr>

<div class="row-container" style="display: flex; width: 100%; height: 100%; flex-direction: column;">
    <iframe style="height:500px; width:100%" id ="gapminderGraphFrame" scrolling="yes" allowfullscreen="yes" frameborder="0"></iframe>
</div>
{% endblock content_body%}
{% block content_footer %}
<script>
    var transactionGraphUrl = location.origin.toString()+"/transactionCountForXYearGraph";
    var mapGraphUrl = location.origin.toString()+"/mapGraph";
    var gapminderGraphUrl = location.origin.toString()+"/gapminderGraph";
    var resaleBarGraphUrl = location.origin.toString()+"/resaleBarGraph";
    var resaleAvgGraphUrl = location.origin.toString()+"/resaleAvgGraph";
    var townAndFlatGraphUrl = location.origin.toString()+"/townAndFlatGraph";
    

    var transactionGraph = document.getElementById('transactionGraphFrame');
    var mapGraph = document.getElementById('mapGraphFrame');
    var gapminderGraph = document.getElementById('gapminderGraphFrame');
    var resaleBarGraph = document.getElementById('resaleBarGraphFrame');
    var resaleAvgGraph = document.getElementById('resaleAvgGraphFrame');
    var townAndFlatGraph = document.getElementById('townAndFlatGraphFrame');


    $(document).ready(function(){
        resaleBarGraph.src = resaleBarGraphUrl;
        resaleAvgGraph.src = resaleAvgGraphUrl;
        townAndFlatGraph.src = townAndFlatGraphUrl;
        transactionGraph.src = transactionGraphUrl;
        mapGraph.src = mapGraphUrl;
        gapminderGraph.src = gapminderGraphUrl;
    })
    </script>
{% endblock content_footer%}